body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Plus Jakarta Sans", sans-serif !important;
}
.container{
    flex: 1;
}
/*NAVBAR*/
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/*footer*/
.f-info-links,
.f-info-socials, 
.f-info-brand
{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
    margin-right: 2rem;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    
}

/*CARDS*/
.card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
   width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}
.card-text {
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none !important;
}
/*CARD EFFECT*/
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/*NEW FORM*/
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
    opacity: 1;
}
.add-btn:hover{
    opacity: 0.7;
    background-color: #f02331e5;
}

/*SHOW PAGE*/
.show-img{
    height: 40vh;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}
