<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-telegram"></i>
        </div>
        <div class="f-info-brand"> &copy; Wanderlust Private limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy Notice</a>
            <a href="/terms">Terms</a>
            <a href="/conditions"> Conditions of use and sale</a>

        </div>
    </div>
</footer>